*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'VT323', monospace;
}

.custom_container{
    height: 20vh;
    background-color: var(--bz-app-header);
}

/* utilities */
:root {
    --bz-app-principal: #DBDBD2;
    --bz-app-header: #009688;
    --bz-app-success: #D5F9BA;
    --bz-app-light: #E9EBEB;
    --bz-app-white: #FFFFFF;
    --bz-app-focus: #8EDAFC;
}

.font-small{
    font-size:12px;
}
.font-smaller{
    font-size:10px;
}

.border-chat-top{
    border-top: 1px solid rgb(247,243,243);
}

.color-icons{
    color:#b1b1b1;
}

.pointer{
    cursor: pointer;
}


/* /utilities */
.circle{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

.img-bg{
    background-image: url(./img/mine.jpg);
    height: 80vh;
   overflow-x: auto;
}

.img-bg-chat{
    background-color: #F3EEEA;
    
}

.height-leftside{
    height:73vh;
    min-width: 360px;
    overflow-y:auto;
    overflow-x: hidden;
}



@media (max-width: 768px) {
    .height-leftside {
     height:64.6vh;
    }
  }
  
@media (max-width: 992px) {
    .height-leftside {
     height:71.6vh;
    }
  }

  @media (min-width: 1200px) {
    .height-leftside {
     height:71.6vh;
    }
  }

  

